# Virtual Environment
venv/

# Database
instance/
*.db

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.local

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Byte-compiled files
*.pyd
*.pyo